<!DOCTYPE html>
<html>
<head>
    <title>Lista de Camiones</title>
</head>
<body>
    <h2>Lista de Camiones</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Año</th>
            <th>Acciones</th>
        </tr>
        <c:forEach var="camion" items="${listaCamiones}">
            <tr>
                <td>${camion.id}</td>
                <td>${camion.modelo}</td>
                <td>${camion.marca}</td>
                <td>${camion.año}</td>
                <td>
                    <a href="updateCamion.jsp?id=${camion.id}&modelo=${camion.modelo}&marca=${camion.marca}&anio=${camion.anio}">Actualizar</a>
                </td>
            </tr>
        </c:forEach>
    </table>
</body>
</html>
